In [98]:
from fastquant import get_stock_data
from gaussian_hmm import *
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import time
import sys
import os

In [99]:
with open('pass.txt') as f:
    password = f.read()
    password = password.strip('\n')

In [100]:
f = open("tickers.txt", "r")
tickers = [s.strip('\n') for s in f.readlines()]

In [101]:
tickers

['AAPL', 'TSLA', 'TSM', 'HD', 'PLUG', 'DKNG', 'CMCSA', 'PFE']

In [30]:
for ticker in tickers:
    print(get_stock_data(ticker, '2017-01-01', '2021-05-12'))

[*********************100%***********************]  1 of 1 completed
                  open        high         low       close     volume
dt
2017-01-03   28.950001   29.082500   28.690001   29.037500  115127600
2017-01-04   28.962500   29.127501   28.937500   29.004999   84472400
2017-01-05   28.980000   29.215000   28.952499   29.152500   88774400
2017-01-06   29.195000   29.540001   29.117500   29.477501  127007600
2017-01-09   29.487499   29.857500   29.485001   29.747499  134247600
...                ...         ...         ...         ...        ...
2021-05-05  129.199997  130.449997  127.970001  128.100006   84000900
2021-05-06  127.889999  129.750000  127.129997  129.740005   78128300
2021-05-07  130.850006  131.259995  129.479996  130.210007   78892700
2021-05-10  129.410004  129.539993  126.809998  126.849998   87808400
2021-05-11  123.500000  125.724998  122.779999  125.305496   80260673

[1096 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
                  open        high         low       close    volume
dt
2017-01-03   42.972000   44.066002   42.192001   43.397999  29616500
2017-01-04   42.950001   45.599998   42.862000   45.397999  56067500
2017-01-05   45.284000   45.495998   44.389999   45.349998  29558500
2017-01-06   45.386002   46.062000   45.090000   45.801998  27639500
2017-01-09   45.793999   46.383999   45.599998   46.256001  19897500
...                ...         ...         ...         ...       ...
2021-05-05  681.059998  685.299988  667.340027  670.940002  21901900
2021-05-06  680.760010  681.020020  650.000000  663.539978  27784600
2021-05-07  665.799988  690.000000  660.219971  672.369995  23422100
2021-05-10  664.900024  665.049988  627.609985  629.039978  31238600
2021-05-11  599.239990  625.599976  595.619995  611.520020  32404940

[1096 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
                  open        high         low       close    volume
dt
2017-01-03   29.250000   29.510000   29.059999   29.309999   6280300
2017-01-04   29.389999   29.459999   29.200001   29.299999   4391800
2017-01-05   29.530001   29.910000   29.520000   29.799999   4775700
2017-01-06   29.740000   29.850000   29.459999   29.629999   4878700
2017-01-09   29.790001   30.139999   29.719999   30.040001   8371700
...                ...         ...         ...         ...       ...
2021-05-05  116.000000  116.489998  115.300003  115.379997   4174100
2021-05-06  115.300003  117.639999  114.459999  117.000000   8581700
2021-05-07  118.400002  119.419998  116.050003  116.830002   9606900
2021-05-10  114.980003  115.379997  112.230003  112.309998  12260300
2021-05-11  109.730003  112.279999  109.160004  111.779999   6289922

[1096 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
                  open        high         low       close   volume
dt
2017-01-03  135.100006  135.509995  133.589996  134.309998  5299700
2017-01-04  134.339996  135.940002  134.210007  135.500000  4055300
2017-01-05  134.979996  135.460007  133.779999  133.899994  3821100
2017-01-06  133.970001  134.330002  133.050003  133.529999  3827500
2017-01-09  133.220001  134.759995  133.139999  134.309998  4310200
...                ...         ...         ...         ...      ...
2021-05-05  334.250000  334.250000  331.160004  332.049988  2015000
2021-05-06  333.670013  337.809998  333.230011  337.579987  3539600
2021-05-07  336.679993  339.809998  335.529999  339.250000  2998100
2021-05-10  340.450012  345.690002  339.540009  341.119995  4834500
2021-05-11  337.549988  338.000000  328.429993  329.329987  3121649

[1096 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
                 open       high        low      close    volume
dt
2017-01-03   1.200000   1.230000   1.190000   1.210000   2075600
2017-01-04   1.210000   1.300000   1.200000   1.300000   2930500
2017-01-05   1.300000   1.320000   1.260000   1.260000   3506400
2017-01-06   1.280000   1.290000   1.250000   1.250000   1861100
2017-01-09   1.260000   1.270000   1.220000   1.250000   1386100
...               ...        ...        ...        ...       ...
2021-05-05  25.059999  25.629999  24.110001  24.290001  29291900
2021-05-06  23.170000  23.610001  21.580000  22.559999  45365300
2021-05-07  22.980000  23.930000  22.590000  23.049999  21625400
2021-05-10  22.660000  22.660000  20.049999  20.070000  38793300
2021-05-11  18.600000  22.789900  18.469999  22.770000  48555322

[1096 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
                 open       high        low      close    volume
dt
2019-07-25   9.800000   9.800000   9.800000   9.800000       100
2019-07-26   9.800000   9.800000   9.800000   9.800000         0
2019-07-29   9.800000   9.800000   9.800000   9.800000         0
2019-07-30   9.800000   9.800000   9.800000   9.800000         0
2019-07-31   9.800000   9.800000   9.800000   9.800000         0
...               ...        ...        ...        ...       ...
2021-05-05  56.047001  57.610001  55.834000  56.180000  11503500
2021-05-06  55.689999  55.820000  50.250000  51.889999  27353900
2021-05-07  53.450001  53.509998  48.160000  48.419998  45869200
2021-05-10  47.560001  47.580002  44.459999  45.340000  42085600
2021-05-11  42.660000  45.599998  42.240002  44.021000  17684437

[453 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
                 open       high        low      close    volume
dt
2017-01-03  34.834999  34.945000  34.115002  34.525002  23670400
2017-01-04  34.755001  35.130001  34.590000  34.935001  22010800
2017-01-05  34.794998  35.130001  34.700001  35.075001  16986000
2017-01-06  35.105000  35.270000  34.910000  35.134998  13528000
2017-01-09  35.070000  35.480000  35.025002  35.415001  18135400
...               ...        ...        ...        ...       ...
2021-05-05  57.009998  57.029999  56.259998  56.410000  17858800
2021-05-06  56.669998  57.099998  56.450001  56.980000  13075800
2021-05-07  57.259998  58.419998  56.700001  58.110001  17847300
2021-05-10  58.340000  59.110001  57.490002  57.509998  19221200
2021-05-11  57.520000  57.770000  56.950001  57.125000   6493695

[1096 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
                 open       high        low      close    volume
dt
2017-01-03  31.024668  31.309298  30.920303  31.309298  23391844
2017-01-04  31.432638  31.641365  31.337761  31.584440  22753963
2017-01-05  31.660341  31.963947  31.423149  31.888046  21083584
2017-01-06  31.935484  31.973434  31.631880  31.764706  18418228
2017-01-09  31.717268  31.944971  31.669828  31.755219  21559886
...               ...        ...        ...        ...       ...
2021-05-05  40.180000  41.090000  38.930000  39.970001  54348400
2021-05-06  38.480000  39.230000  37.959999  39.189999  54944900
2021-05-07  39.049999  39.869999  39.049999  39.580002  33795200
2021-05-10  39.830002  40.279999  39.779999  39.860001  30772200
2021-05-11  39.680000  40.070000  39.459999  39.468601  17679934

[1096 rows x 5 columns]

In [31]:
import smtplib

In [88]:
def send_email(sent_to, message):
    sender = 'ghmm.stock.bot@gmail.com'

    gmail_user = 'ghmm.stock.bot@gmail.com'
    sent_from = 'ghmm.stock.bot@gmail.com'
    email_text = message

    server = smtplib.SMTP_SSL('smtp.gmail.com', 465)
    server.ehlo()
    server.login(gmail_user, password)
    server.sendmail(sent_from, sent_to, email_text)
    server.close()

In [83]:
recievers = [('rowan','ghmm.stock.bot@gmail.com')]

In [33]:
from datetime import datetime, timedelta

In [34]:
quant_format = '%Y-%m-%d'

In [36]:
today = datetime.now()

In [37]:
training_start = today - timedelta(days=1825)

In [38]:
training_start

datetime.datetime(2016, 5, 12, 12, 38, 25, 646614)

In [39]:
today

datetime.datetime(2021, 5, 11, 12, 38, 25, 646614)

In [40]:
training_end = today - timedelta(days=1)

In [41]:
training_start = training_start.strftime(quant_format)

In [42]:
training_start

'2016-05-12'

In [43]:
training_end = training_end.strftime(quant_format)

In [44]:
training_end

'2021-05-10'

In [45]:
tomorrow = today + timedelta(days=1)

In [46]:
today = today.strftime(quant_format)

In [47]:
tomorrow = tomorrow.strftime(quant_format)

In [48]:
training_start

'2016-05-12'

In [50]:
today

'2021-05-11'

In [51]:
tomorrow

'2021-05-12'

In [52]:
training_data = get_stock_data('AAPL', training_start, today)

[*********************100%***********************]  1 of 1 completed

In [53]:
test_data = get_stock_data('AAPL', today, tomorrow)

[*********************100%***********************]  1 of 1 completed

In [54]:
training_data

                  open        high         low       close     volume
dt
2016-05-12   23.180000   23.195000   22.367500   22.584999  305258800
2016-05-13   22.500000   22.917500   22.500000   22.629999  177571200
2016-05-16   23.097500   23.597500   22.912500   23.469999  245039200
2016-05-17   23.637501   23.674999   23.252501   23.372499  187667600
2016-05-18   23.540001   23.802500   23.472500   23.639999  168249600
...                ...         ...         ...         ...        ...
2021-05-04  131.190002  131.490005  126.699997  127.849998  137564700
2021-05-05  129.199997  130.449997  127.970001  128.100006   84000900
2021-05-06  127.889999  129.750000  127.129997  129.740005   78128300
2021-05-07  130.850006  131.259995  129.479996  130.210007   78892700
2021-05-10  129.410004  129.539993  126.809998  126.849998   87808400

[1257 rows x 5 columns]

In [55]:
test_data

             open        high         low       close    volume
dt
2021-05-11  123.5  125.724998  122.779999  125.129997  81844688

In [56]:
params = {'n_components': 2, 
          'algorithm': 'map', 
          'n_iter': 100, 
          'd': 5,
          'name':'GHMM'}
ghmm = GHMM(params=params)

In [57]:
ghmm.train(training_data)

In [58]:
preds,_ = ghmm.predict(test_data)

DONE

In [59]:
preds

[123.59577042192016]

In [60]:
prev_close = training_data['close'].values[-1]

In [61]:
pred_close = preds[0]

In [62]:
change = (pred_close-prev_close)/prev_close

In [63]:
change

-0.025654143408325152

In [64]:
open_price = test_data['open'].values[0]

In [65]:
frac_change = (pred_close-open_price)/open_price

In [66]:
frac_change

0.0007754690034021416

In [129]:
def get_data(ticker):
    today = datetime.now()
    training_start = today - timedelta(days=1825)
    training_start = training_start.strftime(quant_format)
    tomorrow = today + timedelta(days=1)
    today = today.strftime(quant_format)
    tomorrow = tomorrow.strftime(quant_format)
    training_data = get_stock_data(ticker, training_start, today)
    test_data = get_stock_data(ticker, today, tomorrow)
    return training_data, test_data

In [130]:
def get_prediction(ticker):
    params = {'n_components': 2, 
          'algorithm': 'map', 
          'n_iter': 100, 
          'd': 5,
          'name':'GHMM'}
    ghmm = GHMM(params=params)
    train,test = get_data(ticker)
    ghmm.train(train)
    pred,_ = ghmm.predict(test)
    open_price = test['open'].values[0]
    pred_close = pred[0]
    frac_change = (pred_close-open_price)/open_price
    return frac_change, open_price, pred_close

In [131]:
sender = 'ghmm.stock.bot@gmail.com'
start = time.time()
picks = ""
for ticker in tickers:
    c,o,p = get_prediction(ticker)
    picks += f'Ticker: {ticker}\nOpen: {round(o,3)}\nPred Close: {round(p,3)}\nPred Percent Change: {round(c*100,3)}\n\n'
end = time.time()
print(round(end-start,4))

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
DONE
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
DONE
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
DONE
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
DONE
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
DONE
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
DONE
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
DONE
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
DONE
8.674

In [132]:
for name,email in recievers:
        message = f'From: From Rowan <{sender}>\nTo: To {name} <{email}>\nSubject: Daily Picks\n\n{picks}'
        
        print(message)
        send_email(email,message)

From: From Rowan <ghmm.stock.bot@gmail.com>
To: To rowan <ghmm.stock.bot@gmail.com>
Subject: Daily Picks

Ticker: AAPL
Open: 123.5
Pred Close: 123.596
Pred Percent Change: 0.078

Ticker: TSLA
Open: 599.24
Pred Close: 599.824
Pred Percent Change: 0.097

Ticker: TSM
Open: 109.73
Pred Close: 109.758
Pred Percent Change: 0.025

Ticker: HD
Open: 337.55
Pred Close: 337.738
Pred Percent Change: 0.056

Ticker: PLUG
Open: 18.6
Pred Close: 18.595
Pred Percent Change: -0.024

Ticker: DKNG
Open: 42.66
Pred Close: 42.618
Pred Percent Change: -0.099

Ticker: CMCSA
Open: 57.52
Pred Close: 57.543
Pred Percent Change: 0.041

Ticker: PFE
Open: 39.68
Pred Close: 39.685
Pred Percent Change: 0.011